.section {
    padding: 20px 0;
    position: relative;
}

.color-2 {
    background: #ffffff;
}

a:link {
    color: #3479d3;
    text-decoration: none;
}

a:visited {
    color: #3479d3;
    text-decoration: none;
}

a:active {
    color: #3479d3;
    text-decoration: none;
}

a:hover {
    color: #134aa3;
    text-decoration: none;
}

a.footer:link {
    color: #bbbbbb;
    text-decoration: none;
}

a.footer:visited {
    color: #bbbbbb;
    text-decoration: none;
}

a.footer:active {
    color: #bbbbbb;
    text-decoration: none;
}

a.footer:hover {
    color: white;
    text-decoration: none;
}

h2,h3,h4,h5,h6 {
    color: #3479d3;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
h4 {
    margin-bottom: 3px;
}

ul {
    list-style: none;
    margin-bottom: 10px;
    margin-left: -40px;
}

.strong {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.li-item {
    font-size: 11px;
    margin-bottom: 2px;
    font-family: 'Roboto', sans-serif;
}

.div-item {
    font-size: 11px;
    margin: 0 0 0px 8px;
}

.profile {
    display: inline-block;
    vertical-align: middle;
}

.profile.image {
    width: 145px;
    height: 190px;
    border-radius: 10px;
    margin-top: 5px;
}

.profile.detail {
    margin-left: 10px;

}

.container {
    padding: 1px;
    margin-bottom: -5px;
}

.line {
    width: 100%;
    height: 1px;
    background: #bbb;
}

.subject {
    font-size: 12px;
}

.content {
    font-size: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-family: 'Roboto', sans-serif;
}

.edu_subject {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.edu_content {
    font-size: 12px;
}

/* custom */
.pagefooter {
    background: #555555;
    /* see body, #main */
    position: relative;
    padding: 90px 0 90px 0;
}

/* custom */
.footercontent {
    text-align: center;
    color: #dddddd;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.page.section {
    padding: 30px 0;
    /* override */
    position: relative;
}

.section-container {
    padding: 0 5%;
}

.section-wrap {
    margin: auto;    
    width: 100%;
    max-width: 600px;
}

.section-block {
    width: 95px;
    display: inline-block;
}

.pagefooter:before {
    top: 0%;
    border: solid transparent;
    color: #ffffff;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(8, 4, 13, 0);
    border-top-color: #ffffff;
    border-width: 30px;
    left: 50%;
    margin-left: -30px;
    z-index: 1;
}

.pagefooter-emptyspace {
    margin-top: 40px;
}
