.section {
    padding: 20px 0;
    position: relative;
}

.color-2 {
    background: white;
}

a {
    color: #000000;
    text-decoration: none;
}

a:link {
    color: #3479d3;
    text-decoration: none;
}

a:visited {
    color: #3479d3;
    text-decoration: none;
}

a:active {
    color: #3479d3;
    text-decoration: none;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

a.footer:link {
    color: #bbbbbb;
    text-decoration: none;
}

a.footer:visited {
    color: #bbbbbb;
    text-decoration: none;
}

a.footer:active {
    color: #bbbbbb;
    text-decoration: none;
}

a.footer:hover {
    color: white;
    text-decoration: none;
}

h2,h3,h4,h5,h6 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
h5 {
    margin-bottom: 4px;
}
h5 {
    margin-bottom: 3px;
}

ul {
    list-style: none;
    margin-bottom: 10px;
    margin-left: -40px;
}

.strong {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.li-item {
    font-size: 13px;
    margin-bottom: 2px;
    font-family: 'Roboto', sans-serif;
}

.div-item {
    font-size: 13px;
    margin: 0 0 0px 8px;
}

.profile {
    display: inline-block;
    vertical-align: middle;
}

.profile.image {
    width: 145px;
    height: 190px;
    border-radius: 10px;
    margin-top: 5px;
}

.profile.detail {
    margin-left: 10px;
}

.container {
    padding: 1px;
    margin-bottom: -5px;
}

.line {
    width: 100%;
    height: 1px;
    background: #bbb;
}

.content {
    font-size: 13px;
    padding-bottom: 3px;
    font-weight: 400;
    padding-top: 3px;
    font-family: 'Roboto', sans-serif;
}

.subcontent {
    font-size: 11px;
    padding-bottom: 3px;
    font-weight: 300;
    padding-top: -3px;
    font-family: 'Roboto', sans-serif;
}

/* custom */
.pagefooter {
    background: #393939;
    position: relative;
    padding: 90px 0 90px 0;
}

/* custom */
.footercontent {
    text-align: center;
    color: #dddddd;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.page.section {
    padding: 30px 0;
    position: relative;
}

.section-container {
    padding: 0 5%;
}

.section-wrap {
    margin: auto;    
    width: 100%;
    max-width: 600px;
}

.section-block {
    width: 95px;
    display: inline-block;
}

.pagefooter-emptyspace {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .strong, .li-item, .div-item, .content {
        font-size: 10px;
    }
    .subcontent {
        font-size: 9px;
    }
    .footercontent {
        font-size: 12px;
    }
    .section-block {
        width: 80px;
    }
}
